<nav>
  <a href="/">
    <img src="/logo.png" alt="Logo">
  </a>

  <a href="https://github.com/kodekage/SecurePinned" target="blank" rel="noreferrer">
    <img src="/github.png" alt="github logo">
  </a>
</nav>