<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SecuredPinned | 404</title>
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
  <%- include('partials/nav') %>
  <article>
    <section>
      <img src="/dead_emoji.png" alt="dead_emoji">
      <h1>404!</h1>
    </section>
  </article>
</body>
</html>