<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SecurePinned - Page not found</title>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>
<body>
  <div>
    <h1>404!</h1>
    <h5>
      <%= message%>
    </h5>
  </div>
</body>
</html>