body {
  font-family: 'Open Sans', sans-serif;
  background: #f8f9f9;
}
article {
  padding-top: 8em;
}
section {
  width: 50%;
  border-radius: 5px;
  padding: 2em 0;
  text-align: center;
  margin: auto;
}
section img {
  height: 200px;
}
section h2 {
  font-size: 40px;
  margin: 0;
  font-weight: 900;
}

section p {
  font-size: 20px;
  margin: 0;
}

section h1 {
  font-size: 100px;
  font-weight: 900;
  margin: 0;
}